@import url('https://fonts.googleapis.com/css?family=Titan+One');

:root {
  --h1-font-size: 20vmin;
  --primary-color: rgb(245, 102, 0);
  --secondary-color: rgb(230, 96, 0);
  // --tiger-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/225363/tiger-uppercut.gif);
  --tiger-image: url(https://motionbgs.com/media/1412/luffys-mighty-gear-5_312.gif);

  --texture-image: url(https://media.giphy.com/media/wdfxqCQVGHDlC/giphy.gif);
}

.text-wrapper { position: relative; }

.gg {
  display: flex;
  flex-direction: column;
  font-family: 'Titan One', sans-serif;
  font-size: var(--h1-font-size);
  text-transform: uppercase;
  background: center/cover var(--secondary-color) var(--tiger-image);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  &:last-child {
    position: absolute;
    top: 0; left: 0;
    background-image: var(--texture-image);
    mix-blend-mode: soft-light;
  }

  .noob { font-size: calc(var(--h1-font-size) / 1.825); }
}

.peeps-anim {
  animation: peepsAnimStatic 5s ease infinite;
}

.peeps-anim-reverse {
  animation: peepsAnimStaticReverse 5s ease infinite;
}

@keyframes peepsAnimStatic {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
}

@keyframes peepsAnimStaticReverse {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(5deg);
  }
}

.dick-anim {
  animation: dickAnimation 5s ease infinite;
}

@keyframes dickAnimation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
}




* {
  // border: 1px red solid;
}
