@import url('https://fonts.googleapis.com/css?family=Titan+One');

:root {
  --h1-font-size: 20vmin;
  --primary-color: rgb(245, 102, 0);
  --secondary-color: rgb(230, 96, 0);
  // --tiger-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/225363/tiger-uppercut.gif);
  --tiger-image: url(https://i.pinimg.com/originals/0c/96/49/0c9649f0a491373305b741c3be3d35cc.gif);

  --texture-image: url(https://media.giphy.com/media/wdfxqCQVGHDlC/giphy.gif);
}

.text-wrapper { position: relative; }

.gg {
  display: flex;
  flex-direction: column;
  font-family: 'Titan One', sans-serif;
  font-size: var(--h1-font-size);
  text-transform: uppercase;
  background: center/cover var(--secondary-color) var(--tiger-image);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  &:last-child {
    position: absolute;
    top: 0; left: 0;
    background-image: var(--texture-image);
    mix-blend-mode: soft-light;
  }

  .noob { font-size: calc(var(--h1-font-size) / 1.825); }
}

.peeps-anim {
  animation: peepsAnimStatic 5s ease infinite;
}

.peeps-anim-reverse {
  animation: peepsAnimStaticReverse 5s ease infinite;
}

@keyframes peepsAnimStatic {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
}

@keyframes peepsAnimStaticReverse {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(5deg);
  }
}

.dick-anim {
  animation: dickAnimation 5s cubic-bezier(.32,2,.55,.27) infinite;
  // transition: all 0.3s cubic-bezier(.32,2,.55,.27);
}

@keyframes dickAnimation {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(5deg);
  }
}

.scarf-anim {
  animation: scarfAnimation 5s cubic-bezier(.32,2,.55,.27) infinite;
  transform: rotate(-5deg);
  // transition: all 0.3s cubic-bezier(.32,2,.55,.27);
}

@keyframes scarfAnimation {
  0% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }
}

.peeps.active {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8))
          drop-shadow(0 0 20px rgba(255, 255, 255, 0.6))
          drop-shadow(0 0 30px rgba(255, 255, 255, 0.4));
}

.bouncing-arrow {
  display: inline-block;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0) scale(1);
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55); /* Ease out */
  }
  50% {
    transform: translateY(10px) scale(1.1, 0.9); /* Move up and squeeze */
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55); /* Ease in */
  }
}
